body{
font-family: 'Roboto', sans-serif;
background-image: url("images/patt.png");
}
.header{
    background-color: rgb(255, 255, 255, 0.75);
    padding: 25px 0;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu::after{
    content: "";
    display: block;
    clear: both;
}
.col-md-3{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-6{
    width: 50%;
}
.col-md-9{
    width: 75%;
}
.col-md-12{
    width: 100%;
}
.col-md-8{
    width: 66%;
}
.col-md-4{
    width: 33%;
}
[class*="col-"]{
    float: left;
}
.logo{
    margin-top: 7px;
}
.menu li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
    
}
.menu{
    position: relative;
}
.menu a:hover{
    background-color: #2c71b8;
    color: white;
}
.form-search{
    padding: 5px;
    margin-top:  5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: 1px solid #2c71b8;
    height: 40px;
    width: 200px;
    position: relative;
}
.form-search input{
    background: transparent;
    border: none;
    padding-left: 13px;
    padding-top: 7px;
    width: 150px;
}
.form-search input:focus{
    outline: none;
}
.form-search button{
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    position: absolute;
    margin: -1px 7px;
}
.cart{
    width: 40px;
    height: 40px;
    background-color: white;
    margin:2px 2px;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    text-align: center;
    line-height: 20px;
    position: absolute;
    margin: -50px -10px;
}
.form-search input::placeholder{
    color: #2c71b8;
    font-size: 19px;
    font-weight: 100;
}
.submenu{
    display: none;
    width: 300px;
    height: 300px;
    background-color: #2c71b8;
    float: none;
    position: absolute;
    z-index: 10;
}
.submenu > li{
    color: white;
    text-decoration: none;
    border: none;
    float: none;
    width: 300px;
    background: white;
    

}
.submenu a{
    text-align: left;
    padding-left: 15px;
    background-color: #2c71b8;
    color: white;

}
.menu li:hover .submenu{
    display: block;
}
.submenu a:hover{
    background-color: white;
    color: #2c71b8;
}
#arrow{
    position: relative;
}
#arrow::after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 15px;
    background-image: url(images/arrow\ down.png);

}
.menu>li:hover>a{
    background-color: #2c71b8;
    color: white;
}
.row a{
    display: block;
}
.breadcrumbs a{
   margin-top: 30px;
   margin-left: 15px;
   margin-bottom: 15px;
   text-decoration: none;
   color: white;
}
.breadcrumbs a:hover{
    color: white;

}
.col-md-8 a{
    text-decoration: none;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
   font-weight: 900;
   font-size: 45px;

}
.col-md-4 select{
    width: 265px;
    height: 40px;
    margin-left: 15px;
    padding-left: 15px;
    background-color: #2c71b8;
    color: white;
    font-size: 21px;
}
.col-md-4 select:focus{
    outline: none;
}
.col-md-4{
    padding: 15px;
}
.product-image{
    background-color: rgb(255, 255, 255, 0.75);
    width: 277px;
    height: 180px;
    text-align: center;
    line-height: 280px;
    position: relative;
}
.zoom{
    background-image: url(images/zoom\ blue.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    right: 10px;
}
.zoom:hover{
    background-image: url(images/zoom.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #2c71b8;
}
.like{
    background-image: url(images/hear\ blue.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 50px;
    right: 10px;
}
.like:hover{
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #2c71b8;
}
.product-body{
    padding-left: 15px;
    border: 1px solid white;
    padding-bottom: 15px;
}
.product-body a{
    text-decoration: none;
    color: white;
    padding-top: 15px;
}
.product-body a:hover{
     color: black;
}
.product-title a{
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
}
.product-features p{
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
}
span{
    font-weight: 900;
    padding-right: 10px;
}
.product-price{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}
.product-price > h1 > span{
    font-size: 40px;
}
.product-price > h1 {
    padding-top: 30px;
}
/* .product-body button{ */
button{
    width: 210px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 900;
    background-color: #2c71b8;
    color: white;
}
.button {
    background-color: rgb(255, 255, 255, 0.75);
    background-image: url(images/icon\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 180px 15px;

}
label {
    padding-left: 20px;
    position: relative;
    display: block;
    padding-top: 25px;
    color: white;
   
}
label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    left: 0px;
    bottom: 2px;
}
input:checked + label:before{
    background-color: white;
}
/* #red {
    display: none;
} */
.deviceType {
    padding: 30px;
    border-right: 1px solid white;
    background-color:  rgb(255, 255, 255, 0.4);
}
h1 {
    color:white;
    font-size: 21px;
    font-weight: 700;
}
[id*="red-"] {
    display: none;
}
button:hover {
    background-color: white;
    color: #2c71b8;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.50);
    display: none;
}
.modal-block {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid gray;
    padding: 15px;
    margin: 80px auto;
}
.form-fields {
    margin: 10px 0;

}
.form-fields input {
    width: 100%;
    height: 30px;

}
.btn-close {
    text-align: right;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.userTouch{
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #2c71b8;
}
sup { 
    vertical-align: super;
    font-size: smaller;
}
.slider-block > div {
    font-size: 50px;
    padding: 150px 0;
    text-align: center;
    color:white;
}
.slick-dots li button:before {
    color: white;
    content: "□";
    font-size: 20px;
    
}
.slick-prev:before{
    content: "<";
    font-size: 100px;
}
.slick-prev {
    left: -46px;
}
.slick-prev, .slick-next {
    top: 32%;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.slick-next:before {
    content: ">";
    font-size: 100px;
    
}
.slick-next {
    right: 10px;
}
.border-bottom {
    width: 100%;
    border-bottom: 1px solid white;
}

